<div class="hero-box">
    <div class="well hero-panel">
      <h1>Auctions</h1>
      <div class="search-tools">
        <div class="filters">
          <div class="filter category-holder">
            <label>Category</label>
            <div>
              <ol>
                <li>
                  <input id="antiques" type="checkbox"/>
                  <label for="antiques">Antiques</label>
                </li>
                <li>
                  <input id="paintings" type="checkbox"/>
                  <label for="paintings">Paintings</label>
                </li>
                <li>
                  <input id="memorabilia" type="checkbox"/>
                  <label for="memorabilia">Memorabilia</label>
                </li>
              </ol>
            </div>
          </div>

          <div>
            <label>End Date</label>
            <div>
              <input type="text" placeholder="date" class="form-control calendar" id="datepicker"/>
            </div>
          </div>
          <div class="filter trigger">
            <button>Find Items</button>
          </div>
          <div class="filter trigger">
           <a href="/listings/new" class="normal-button"><button class="normal-button">Create a listing</button>
          </div>
        </div>
      </div>

      <!-- <Icons /> -->
    </div>
  </div>
